<div class="card">
  <div class="card__body">
    <div class="card__image">
      <img src="https://static.wixstatic.com/media/548933_24da9502f1a943079cc00b6ba70e1a75~mv2.jpg" alt="">
    </div>
    <div class="card__title">
      <h4>Siderurgia</h4>
    </div>
    <div class="card__text">
      <p>
        As áreas de perfuração e produção na indústria de petróleo e gás funcionam em condições adversas.
        Os lubrificantes especiais da Molygraph Lubricants abordam esses desafios diários e aumentam a produtividade e a produção dos equipamentos em ativos onshore ou off-shore.
      </p>
    </div>
  </div>
</div>
