<div>
  <section class="section-container">
    <app-big-card
      [cardTitle]="'Quem Somos'"
      [cardDescription]="'
      A DAX Soluções Industriais é sua parceira confiável para produtos e lubrificantes especiais, além de soluções industriais personalizadas. Nosso compromisso é oferecer produtos de qualidade e consultoria especializada para atender às diversas necessidades da indústria brasileira.
      Somos o distribuidor oficial Molygrapgh no Brasil.'">
    </app-big-card>
  </section>
  <section class="section-container">
    <app-big-card
      [cardTitle]="'Produtos'"
      [cardDescription]="'
      A seguir algumas das categorias dos nossos produtos.'">
      <div class="products-container">
        <app-small-card
          [cardTitle]="'Óleo e gás'"
          [cardDescription]="'
          As áreas de perfuração e produção na indústria de petróleo e gás funcionam em condições adversas.
          Os lubrificantes especiais da Molygraph Lubricants abordam esses desafios diários e aumentam a produtividade e a produção dos equipamentos em ativos onshore ou off-shore.'"
          [cardImage]="'https://static.wixstatic.com/media/548933_24da9502f1a943079cc00b6ba70e1a75~mv2.jpg'"
        ></app-small-card>
        <app-small-card
          [cardTitle]="'Mineração'"
          [cardDescription]="'
          A linha de lubrificantes de mineração da Molygraph Lubricant foi desenvolvida especificamente para equipamentos móveis e de processamento. Proteção contra desgaste, intervalos de manutenção estendidos e perdas mínimas de energia são os principais benefícios que você pode esperar ao usar nossos produtos em suas aplicações exigentes.'"
          [cardImage]="'https://static.wixstatic.com/media/nsplsh_0888d7025d1a4b25aea528bd4c10a0ab~mv2.jpg/v1/fill/w_530,h_140,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Image%20by%20Artyom%20Korshunov.jpg'"
        ></app-small-card>
        <app-small-card
          [cardTitle]="'Siderurgia'"
          [cardDescription]="'Lubrificantes Especiais da Molygraph para a Indústria de Aço
            Os lubrificantes de alta performance da Molygraph são essenciais para a fabricação de aço, reduzindo custos e garantindo operações contínuas em condições extremas. Desenvolvemos uma vasta gama de lubrificantes adaptados para suportar altas temperaturas, cargas pesadas e ambientes agressivos, proporcionando:
            Economias de Custo e Produtividade: Nossos lubrificantes garantem eficiência e durabilidade, resultando em significativa redução de custos operacionais.
            Soluções Completas: Oferecemos uma linha completa de lubrificantes para todas as etapas críticas da fabricação de aço.
            Segurança e Sustentabilidade: Produtos seguros e ecologicamente corretos para a proteção dos operadores e do meio ambiente.
            Suporte Especializado: Nossa equipe de engenharia oferece educação e suporte completo em lubrificação, assegurando que nossos clientes aproveitem ao máximo nossos produtos.'"
          [cardImage]="'https://static.wixstatic.com/media/548933_90ad766bfa3e4adca8074576c75c1899~mv2.jpg/v1/fill/w_547,h_123,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/liquid-iron-molten-metal-pouring-container.jpg'">
        </app-small-card>
        <app-small-card
          [cardTitle]="'Polpa e papel'"
          [cardDescription]="'Na indústria de papel, a lubrificação dos rolamentos é fundamental para garantir um funcionamento suave, evitar desgaste prematuro e prolongar a vida útil dos rolamentos. As fábricas de papel geralmente operam em altas temperaturas, sendo comuns a entrada de água e cargas extremas. Lubrificantes especiais para lubrificação de rolamentos na indústria de papel devem ter excelente estabilidade térmica, resistência à água e capacidade de transporte de carga, permitindo-lhes manter suas propriedades lubrificantes e proteger eficazmente os rolamentos em condições adversas.'"
          [cardImage]="'https://static.wixstatic.com/media/548933_a3d20b49d30144acb8f5f9a75d0b2e45~mv2.jpg/v1/fill/w_530,h_130,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/548933_a3d20b49d30144acb8f5f9a75d0b2e45~mv2.jpg'">
        </app-small-card>
      </div>
    </app-big-card>
  </section>
  <section class="section-container">
    <app-big-card
      [cardDescription]="'Líderes globais na indústria de lubrificantes especiais, oferecendo soluções personalizadas e serviços excepcionais aos nossos clientes, presentes em diversos países e agora no Brasil, através da DAX SOLUÇÕES INDUSTRIAIS LTDA.'"
    >
      <img src="../../../assets/images/molygraph-logo.png" alt="">

      <div class="card__list">
        <p>Certificações</p>
        <ul>
          <li>Certificação ISO   9001</li>
          <li>Certificação ISO 14001</li>
          <li>Certificação ISO 45001</li>
        </ul>
      </div>
    </app-big-card>
  </section>
  <section>
    <app-big-card
      [cardTitle]="'DAX Serviços'"
    >
    <div class="card__dax__service__container">
      <div class="card__dax__service__content">
        <svg preserveAspectRatio="xMidYMid meet" data-bbox="120 -840 720 720" width="24" viewBox="120 -840 720 720" height="24" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
          <g>
              <path d="M160-120q-17 0-28.5-11.5T120-160q0-17 11.5-28.5T160-200h40v-240h-40q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h40v-240h-40q-17 0-28.5-11.5T120-800q0-17 11.5-28.5T160-840h640q17 0 28.5 11.5T840-800q0 17-11.5 28.5T800-760h-40v240h40q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440h-40v240h40q17 0 28.5 11.5T840-160q0 17-11.5 28.5T800-120H160Zm120-80h400v-240q-17 0-28.5-11.5T640-480q0-17 11.5-28.5T680-520v-240H280v240q17 0 28.5 11.5T320-480q0 17-11.5 28.5T280-440v240Zm200-120q50 0 85-34.5t35-83.5q0-39-22.5-67T480-620q-75 86-97.5 114.5T360-438q0 49 35 83.5t85 34.5ZM280-200v-560 560Z" fill="#C59435" data-color="1"></path>
          </g>
        </svg>
        <span>PLANO DE LUBRIFICAÇÃO</span>
      </div>
      <div class="card__dax__service__content">
        <svg preserveAspectRatio="xMidYMid meet" data-bbox="118.86 -840 722.28 720" width="24" viewBox="118.86 -840 722.28 720" height="24" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
          <g>
              <path d="M200-120q-51 0-72.5-45.5T138-250l222-270v-240h-40q-17 0-28.5-11.5T280-800q0-17 11.5-28.5T320-840h320q17 0 28.5 11.5T680-800q0 17-11.5 28.5T640-760h-40v240l222 270q32 39 10.5 84.5T760-120H200Zm80-120h400L544-400H416L280-240Zm-80 40h560L520-492v-268h-80v268L200-200Zm280-280Z" fill="#C59435" data-color="1"></path>
          </g>
        </svg>
        <span>ANÁLISE DE LUBRIFICANTES</span>
      </div>
      <div class="card__dax__service__content">
        <svg preserveAspectRatio="xMidYMid meet" data-bbox="120 -920 782 800" width="24" viewBox="120 -920 782 800" height="24" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
          <g>
              <path d="M620-163 450-333l56-56 114 114 226-226 56 56-282 282Zm220-397h-80v-200h-80v120H280v-120h-80v560h240v80H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h167q11-35 43-57.5t70-22.5q40 0 71.5 22.5T594-840h166q33 0 56.5 23.5T840-760v200ZM480-760q17 0 28.5-11.5T520-800q0-17-11.5-28.5T480-840q-17 0-28.5 11.5T440-800q0 17 11.5 28.5T480-760Z" fill="#C59435" data-color="1"></path>
          </g>
        </svg>
        <span>CONSULTORIA TÉCNICA</span>
      </div>
    </div>
    </app-big-card>
  </section>
</div>
