<div>
  <section class="section-container">
    <app-big-card
      [cardTitle]="'Quem Somos'"
      [cardDescription]="'
      A DAX Soluções Industriais é sua parceira confiável para produtos e lubrificantes especiais, além de soluções industriais personalizadas. Nosso compromisso é oferecer produtos de qualidade e consultoria especializada para atender às diversas necessidades da indústria brasileira.
      Somos o distribuidor oficial Molygrapgh no Brasil.'">
    </app-big-card>
  </section>
  <section class="section-container">
    <app-big-card
      [cardTitle]="'Produtos'"
      [cardDescription]="'
      A seguir algumas das categorias dos nossos produtos.'">
      <div class="products-container">
        <app-small-card
          [cardTitle]="'Óleo e gás'"
          [cardDescription]="'
          As áreas de perfuração e produção na indústria de petróleo e gás funcionam em condições adversas.
          Os lubrificantes especiais da Molygraph Lubricants abordam esses desafios diários e aumentam a produtividade e a produção dos equipamentos em ativos onshore ou off-shore.'"
          [cardImage]="'https://static.wixstatic.com/media/548933_24da9502f1a943079cc00b6ba70e1a75~mv2.jpg'"
        ></app-small-card>
        <app-small-card
          [cardTitle]="'Mineração'"
          [cardDescription]="'
          A linha de lubrificantes de mineração da Molygraph Lubricant foi desenvolvida especificamente para equipamentos móveis e de processamento. Proteção contra desgaste, intervalos de manutenção estendidos e perdas mínimas de energia são os principais benefícios que você pode esperar ao usar nossos produtos em suas aplicações exigentes.'"
          [cardImage]="'https://static.wixstatic.com/media/nsplsh_0888d7025d1a4b25aea528bd4c10a0ab~mv2.jpg/v1/fill/w_530,h_140,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Image%20by%20Artyom%20Korshunov.jpg'"
        ></app-small-card>
        <app-small-card
          [cardTitle]="'Siderurgia'"
          [cardDescription]="'Lubrificantes Especiais da Molygraph para a Indústria de Aço
            Os lubrificantes de alta performance da Molygraph são essenciais para a fabricação de aço, reduzindo custos e garantindo operações contínuas em condições extremas. Desenvolvemos uma vasta gama de lubrificantes adaptados para suportar altas temperaturas, cargas pesadas e ambientes agressivos, proporcionando:
            Economias de Custo e Produtividade: Nossos lubrificantes garantem eficiência e durabilidade, resultando em significativa redução de custos operacionais.
            Soluções Completas: Oferecemos uma linha completa de lubrificantes para todas as etapas críticas da fabricação de aço.
            Segurança e Sustentabilidade: Produtos seguros e ecologicamente corretos para a proteção dos operadores e do meio ambiente.
            Suporte Especializado: Nossa equipe de engenharia oferece educação e suporte completo em lubrificação, assegurando que nossos clientes aproveitem ao máximo nossos produtos.'"
          [cardImage]="'https://static.wixstatic.com/media/548933_90ad766bfa3e4adca8074576c75c1899~mv2.jpg/v1/fill/w_547,h_123,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/liquid-iron-molten-metal-pouring-container.jpg'">
        </app-small-card>
        <app-small-card
          [cardTitle]="'Polpa e papel'"
          [cardDescription]="'Na indústria de papel, a lubrificação dos rolamentos é fundamental para garantir um funcionamento suave, evitar desgaste prematuro e prolongar a vida útil dos rolamentos. As fábricas de papel geralmente operam em altas temperaturas, sendo comuns a entrada de água e cargas extremas. Lubrificantes especiais para lubrificação de rolamentos na indústria de papel devem ter excelente estabilidade térmica, resistência à água e capacidade de transporte de carga, permitindo-lhes manter suas propriedades lubrificantes e proteger eficazmente os rolamentos em condições adversas.'"
          [cardImage]="'https://static.wixstatic.com/media/548933_a3d20b49d30144acb8f5f9a75d0b2e45~mv2.jpg/v1/fill/w_530,h_130,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/548933_a3d20b49d30144acb8f5f9a75d0b2e45~mv2.jpg'">
        </app-small-card>
      </div>
    </app-big-card>
  </section>
  <section class="section-container">
    <app-big-card>
      <img src="../../../assets/images/molygraph-logo.png" alt="">
      <p>
        Líderes globais na indústria de lubrificantes especiais, oferecendo soluções personalizadas e serviços excepcionais aos nossos clientes, presentes em diversos países e agora no Brasil, através da DAX SOLUÇÕES INDUSTRIAIS LTDA.
      </p>

      <p>Certificações</p>
      <ul>
        <li>Certificação ISO   9001</li>
        <li>Certificação ISO 14001</li>
        <li>Certificação ISO 45001</li>
      </ul>
    </app-big-card>
  </section>
  <section>

  </section>
</div>
