<div>
  <section class="section-container">
    <app-big-card
      [cardTitle]="'Quem Somos'"
      [cardDescription]="'
      A DAX Soluções Industriais é sua parceira confiável para produtos e lubrificantes especiais, além de soluções industriais personalizadas. Nosso compromisso é oferecer produtos de qualidade e consultoria especializada para atender às diversas necessidades da indústria brasileira.
      Somos o distribuidor oficial Molygrapgh no Brasil.'">
    </app-big-card>
  </section>
  <section class="section-container">
    <app-big-card
      [cardTitle]="'Produtos'"
      [cardDescription]="'
      A seguir algumas das categorias dos nossos produtos.'">
      <app-small-card></app-small-card>
    </app-big-card>
  </section>
  <section>

  </section>
  <section>

  </section>
</div>
