* {
  background-color: #1b1c1e;
  color: #c59435;
}

.section-container {
  padding: 5px 10px 5px 10px;
}

.products-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
