.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #1b1c1e;
  position: relative;
}

.menu-logo > a > img {
  width: 100%; /* O logotipo ocupa a maior parte da tela */
  max-width: 200px; /* Limite máximo para o logotipo */
}

.menu-options {
  display: flex;
  align-items: end;
}

.menu-options > ul {
  display: flex;
  justify-content: space-around;
}

.menu-options > ul > li {
  list-style-type: none;
  margin-left: 10px;
}

.menu-options > ul > li > a {
  color: #255b7d;
  font-weight: 700;
  text-decoration: none;
}

.menu-options > ul > li > a:hover {
  color: #c59435;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #255b7d;
}

/* Estilos para telas pequenas */
@media (max-width: 768px) {
  .menu-logo {
    flex: 1;
  }

  .menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #255b7d;
  }

  .menu-options {
    display: none;
    width: 100%;
    text-align: center;
  }

  .menu-options.show {
    display: block;
  }

  .menu-options > ul {
    flex-direction: column;
    padding: 0;
  }

  .menu-options > ul > li {
    margin: 10px 0;
  }
}
