<div class="menu-container">
  <div class="menu-logo">
    <a href="">
      <img src="../../../assets/images/dax-logo.svg">
    </a>
  </div>
  <div class="menu-toggle" (click)="toggleMenu()">
    &#9776;
  </div>
  <div class="menu-options" [class.show]="isMenuOpen">
    <ul>
      <li><a href="">Início</a></li>
      <li><a href="">Quem somos</a></li>
      <li><a href="">Produtos</a></li>
      <li><a href="">Serviços</a></li>
      <li><a href="">Atendimento</a></li>
    </ul>
  </div>
</div>
